body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    padding: 90px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 700px;
}

h1 {
    text-align: center; 
    align-items: center;
    margin-bottom: 60px;
}

form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input, select, button {
    padding: 10px;
    margin-right: 10px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.sort-options {
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

li.completed {
    text-decoration: line-through;
    background-color: #d4edda;
}

li button {
    background: none;
    border: none;
    cursor: pointer;
}

li button.edit {
    color: #ffc107;
}

li button.delete {
    color: #dc3545;
}

li button.complete {
    color: #28a745;
}

